{
	"env": {
		"node": true
	},
	"rules": {
		"camelcase": 2,
		"no-process-exit": 0,
		"no-underscore-dangle": 0,
		"no-use-before-define": "nofunc",
		"strict": [2],
		"quotes": [2, "single", "avoid-escape"]
	}
}
