/* Fonts
-------------------------------*/
@font-face {
	src: url('../fonts/open-sans/regular.woff') format('woff');
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src: url('../fonts/open-sans/light.woff') format('woff');
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	src: url('../fonts/open-sans/semibold.woff') format('woff');
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src: url('../fonts/open-sans/bold.woff') format('woff');
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
}

/* Reset
-------------------------------*/
::-moz-focus-inner {
	border: none;
	padding: 0;
}

/* General
-------------------------------*/
html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: #323539;
	color: #ccc;
	font-family: Open Sans, sans-serif;
	font-size: 12pt;
	margin: 0;
	padding-bottom: 6.5em;
}

a {
	color: #ccc;
	text-decoration: none;
}

/* Interactive
-------------------------------*/
.button {
	background-color: #344f75;
	border: none;
	border-radius: 0.3em;
	color: #e4e4e4;
	cursor: pointer;
	font-family: Open Sans, sans-serif;
	font-size: 1em;
	line-height: 2.5;
	margin: 0;
	outline: none;
	padding: 0 1.2em;
}

form:invalid .submit {
	background-color: #999;
	cursor: not-allowed;
}

.file-upload {
	border: 0.2em dashed #999;
	border-radius: 0.4em;
	display: block;
	cursor: pointer;
	margin: 1em 0;
	max-width: 30em;
	padding: 1em;
	text-align: center;
}

.file-upload .label {
	color: white;
	display: block;
	font-size: 1.3em;
	margin-bottom: 0.6em;
}

/* Header
-------------------------------*/
#title {
	background-image: url('../images/banner.jpg');
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 90px;
	margin: 0;
	padding: 0 0.7em;
	text-transform: uppercase;
}

#logo {
	margin-right: 0.4em;
	vertical-align: middle;
}

/* Navigation
-------------------------------*/
#navigation {
	background-color: #121416;
	display: flex;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	display: inline-block;
}

#navigation a, #log-out {
	display: inline-block;
	padding: 0.725em 1.125em;
}

#main-navigation {
	flex: 1;
}

#user-navigation {
	flex-shrink: 1;
}

#log-out {
	background-color: #792f1d;
	border: none;
	color: #ccc;
	cursor: pointer;
	font: inherit;
}

/* Notification bar
-------------------------------*/
#notifications {
	background-color: #314753;
	list-style: none;
	font-size: 0.95em;
	margin: 0;
	text-align: right;
}

#notifications li {
	display: inline-block;
}

#notifications a {
	display: inline-block;
	line-height: 2.95;
	padding: 0 1em;
}

.content a:hover {
	color: #466995;
}

.notification-header {
	background-color: #151717;
	font-size: 24px;
	line-height: 40px;
	height: 60px;
	padding: 10px 10px 0 25px;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
	min-width: 830px;
}

/* Content
-------------------------------*/
#main {
	padding: 1.2em;
}

/* Footer
-------------------------------*/
#footer {
	background-color: #121416;
	bottom: 0;
	color: #bbb;
	font-size: 0.8em;
	left: 0;
	padding: 1.5em;
	position: absolute;
	right: 0;
}

#footer a {
	color: inherit;
}

#footer-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer-navigation li {
	display: inline-block;
}

#footer-navigation li + li::before {
	content: '|';
	margin: 0 0.4em;
}
